<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="mp4" mimeType="video/mp4" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="ttf" mimeType="application/x-font-truetype" />
      <mimeMap fileExtension="otf" mimeType="application/x-font-opentype" />
    </staticContent>
  </system.webServer>
</configuration>